@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 7%);
    --foreground: hsl(0 0% 100%);

    --border: hsl(153 53.2% 74.5%);
    --input: hsl(153 53.2% 74.5%);

    --primary: hsl(153 53.2% 74.5%);
    --primary-foreground: hsl(0 0% 100%);

    --error: hsl(0 72% 46.9%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
