.about {
  padding: 20px 15px;
  color: $black;

  h3 {
    font-weight: bold;
    margin: 25px 0 5px 0;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 16px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 40px;
      width: 40px;
      border-radius: 50%;

      background-color: $background;
      color: $accent;

      font-size: 26px;

      i {
        padding: 0;
        margin-top: 8px;
      }

      i.twitter,
      i.linkedin {
        margin-left: 2px;
      }
    }
  }

  .block {
    a {
      text-decoration: underline;
      color: $black;
    }
  }
}
