.resume {
  padding: 20px 15px;

  .synopsis {
    h1 {
      text-align: center;
    }

    pre {
      padding: 0 15%;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }
  }

  .details {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 10px 0 0 0;

    h2 {
      text-decoration: underline;
    }

    ul {
      li {
        list-style-type: none;
      }
    }

    .experience {
      flex-grow: 1;
      padding-right: 30px;

      h3 {
        margin: 15px 0 0 0;
      }

      div {
        display: inline-block;

        font-size: 13px;
        font-style: italic;

        padding: 0 5px 0 0;
      }

      li {
        ul {
          margin: 5px 0 0 0;

          li {
            list-style-type: disc;
            margin-left: 15px;
          }
        }
      }
    }

    .skills {
      padding: 10px;

      width: 250px;
      max-width: 250px;
      height: 100%;

      background-color: $background;
      color: $accent2;
    }
  }
}
