html,
body,
#app,
div,
ul {
  margin: 0;
  padding: 0;

  font-family: 'Arvo', serif;
}

html,
body,
#app {
  height: 100%;
}

html,
body {
  background-color: $background;
}

.content {
  margin: -150px auto 0 auto;

  background-color: $foreground;

  width: 90%;
  max-width: 1200px;

  min-height: 400px;
}
