@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #000;

    --primary: #f98866;
    --secondary: #333;

    --error: hsl(0 72% 46.9%);
  }
  .side {
    --background: #000;
    --primary: #f98866;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
