.bar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  background-color: $background;

  height: 62.5px;
  z-index: 10;

  img {
    height: 125px;
    border-radius: 12px;
    margin: 0 25px;

    @media screen and (max-width: 768px) {
      margin: 0 10px;
    }
  }

  a {
    div {
      padding: 23px 0;

      font-size: 16px;
      color: $accent;
    }
  }
}

.hero {
  margin-top: 62.5px;

  height: 550px;
  width: 100%;

  background: url('https://i.imgur.com/FrQNZnN.jpg') 50% no-repeat;
  background-size: cover;
}
