<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Josh Gretz is maker living in Pittsburgh. This site contains his musings, thoughts, and learnings earned through his tinkering and career.">
  <meta name="keywords" content="josh gretz, gretz, josh, joshua gretz, josh gretz pittsburgh, gretz blog, truefit cto">
  <link rel="icon" type="image/png" href="https://www.joshgretz.io/favicon.png">

  <title>JoshGretz.io | Musings of a Maker</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet">
</head>
<body>
  <div id="app"></div>
</body>
</html>
