<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="bJtG6sAaj6dURon2S6qzWeLsCjk5pS-acuBTMCU4GB8" />

  <title>Josh Gretz | Musings of a Maker</title>
  <meta name="author" content="Josh Gretz" />
  <meta name="description" content="Josh Gretz is maker living in Pittsburgh. This site contains his musings, thoughts, and learnings earned through his tinkering and career.">
  <meta property="og:title" content="Josh Gretz | Musings of a Maker" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.joshgretz.io" />
  <meta property="og:description" content="Josh Gretz is maker living in Pittsburgh. This site contains his musings, thoughts, and learnings earned through his tinkering and career." />
  <meta property="og:image" content="https://i.imgur.com/FrQNZnN.jpg" />
  <meta property="og:site_name" content="Josh Gretz" />

  <link rel="icon" type="image/png" href="https://www.joshgretz.io/favicon.png">
  <link rel="canonical" href="https://www.joshgretz.io" />

  <style>
    #seo-h1,
    #seo-h2 {
      height: 0;
      width: 0;
      font-size: 0;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <h1 id="seo-h1">Josh Gretz | Musings of a Maker</h1>
  <h2 id="seo-h2">
    Josh Gretz is an experienced developer with a demonstrated history of creating flexible architectures, crafting clean code, and
    leading teams to produce software products people love. Josh Gretz strongly believes that the best software is built by people
    for people, that software development is artistic endeavor rooted in engineering sensibility, and that code can be an
    artistic medium. Josh Gretz has strong opinions, but tries to hold them loosely. Josh Gretz desires to continually improve.
  </h2>

  <div id="app"></div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68944174-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-68944174-2');
  </script>
</body>

</html>