<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Josh Gretz is maker living in Pittsburgh. This site contains his musings, thoughts, and learnings earned through his tinkering and career.">
  <meta name="google-site-verification" content="bJtG6sAaj6dURon2S6qzWeLsCjk5pS-acuBTMCU4GB8" />
  <link rel="icon" type="image/png" href="https://www.joshgretz.io/favicon.png">

  <title>JoshGretz.io | Musings of a Maker</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet">

  <style>
    #seo-h1,
    #seo-h2 {
      height: 0;
      width: 0;
      font-size: 0;
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <h1 id="seo-h1">JoshGretz.io | Musings of a Maker</h1>
  <h2 id="seo-h2">
    I&#39;m an experienced developer with a demonstrated history of creating flexible architectures, crafting clean code, and
    leading teams to produce software products people love. I strongly believe that the best software is built by people
    for people, that software development is artistic endeavor rooted in engineering sensibility, and that code can be an
    artistic medium. I have strong opinions, but try to hold them loosely. I desire to continually improve.
  </h2>

  <div id="app"></div>
</body>

</html>